
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<h2>Contact</h2>

<head>
    <style>
        body {
            background-image: url('../../Content/Images/cu.jpg');
            background-color: #cccccc;
            width: auto;
            height: auto;
            background-repeat: no-repeat;
            background-size: cover;
        }

        address {
            text-align: left;
            color: black;
        }

        a {
            color: blue
        }
    </style>
</head>

<address>
    <strong>
        DAC21 :  HARSHAD NANNAWARE<br />
        <abbr title="Phone">Mobile :</abbr>
        +91 95790 55804 <br />
        <abbr title="Email">Email :</abbr>
        <a href="mailto:harshadnannaware007@gmail.com">harshadnannaware007@gmail.com</a>
    </strong>
</address>


<address>
    <strong>
        DAC22 :  HARSHAL UPASANI<br />
        <abbr title="Phone">Mobile :</abbr>
        +91 75071 68772 <br />
        <abbr title="Email">Email :</abbr>
        <a href="mailto:er.harshalupasani@gmail.com">er.harshalupasani@gmail.com</a>
    </strong>
</address>

<address>
    <strong>
        DAC23 :  HARSHAL PAYGHAN<br />
        <abbr title="Phone">Mobile :</abbr>
        +91 95790 55804 <br />
        <abbr title="Email">Email :</abbr>
        <a href="mailto:harshadnannaware007@gmail.com">harshadnannaware007@gmail.com</a>
    </strong>
</address>

<address>
    <strong>
        DAC24 :  HARSHALI BHANGALE<br />
        <abbr title="Phone">Mobile :</abbr>
        +91 90909 09090 <br />
        <abbr title="Email">Email :</abbr>
        <a href="mailto:harshalibhangale22@gmail.com">harshalibhangale22@gmail.com</a>
    </strong>
</address>

<address>
    <strong>
        DAC21 :  INKESH CHOUDHARY<br />
        <abbr title="Phone">Mobile :</abbr>
        +91 91919 19191 <br />
        <abbr title="Email">Email :</abbr>
        <a href="mailto:inkeshchoudhary@gmail.com">inkeshchoudhary@gmail.com</a>
    </strong>
</address>
