
@{
    ViewBag.Title = "User_Home";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<head>
    <style>
        body {
            background-image: url('../../Content/Images/societylogin1.jpg');
            background-color: #cccccc;
            width: auto;
            height: auto;
            background-repeat: no-repeat;
            background-size: cover;
        }

        address {
            text-align: left;
            color: black;
        }

        a {
            color: blue
        }
    </style>
</head>
<h2>Society Member Home</h2>

