
@{
    ViewBag.Title = "Admin_Home";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<head>
    <style>
        body {
            background-image: url('../../Content/Images/6.jpg');
            background-color: #cccccc;
            width: auto;
            height: auto;
            background-repeat: no-repeat;
            background-size: cover;
        }

        address {
            text-align: left;
            color: black;
        }

        a {
            color: blue
        }
    </style>
</head>
<font color="#000000" face="arial black" align="center"><h2>Admin_Home</h2></font>

    <font color="#000000" face="cooper black" align="center"><h1>Welcome Admin</h1></font>
