
@{
    ViewBag.Title = "Society_Home";
    Layout = "~/Views/Shared/_Layout_Society.cshtml";
}
<head>
    <style>
        body {
            background-image: url('../../Content/Images/2.jpg');
            background-color: #cccccc;
            width: auto;
            height: auto;
            background-repeat: no-repeat;
            background-size: cover;
        }

        address {
            text-align: left;
            color: black;
        }

        a {
            color: blue
        }
    </style>
</head>
<h2>Society_Home</h2>

